body {
    margin: 0;
    padding: 0;
}

div {
    border: 1px solid red;
}

.top .pfp {
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 20px;
}

.bot .pfp {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.project {
    border: 1px solid black;
    width: 90%;
    /* Full width of grid cell */
    aspect-ratio: 2 / 1;
}

.announcement {
    border: 1px solid black;
    width: 80%;
    /* Full width of grid cell */
    aspect-ratio: 3 / 1;
}

.trend {
    border: 1px solid black;
    height: 100px;
    width: 250px;
}

/*grid section*/

.main {
    display: grid;
    grid-template-columns: 20% 80%;
}

.sidebar {
    grid-row: 1/3;
}

.content {
    display: grid;
    grid-template-columns: 70% 30%;
}

#projects {
    grid-row: 1/3;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 15px;
    column-gap: 10px;
    align-items: center;
    justify-items: center;
}

/*flex*/

.announcements {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}